.git
.gitignore
.gitattributes
.env
.env.backup
.phpunit.result.cache
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
!storage/logs/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
tests
*.md
.editorconfig
phpunit.xml
.vscode
.idea
*.log
